<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{% block title %}Code Snippet{% endblock %} </title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="{% static 'snippet.css' %}"/> 
</head>

    {% if user.is_authenticated %}
<body class="sans-serif">
    <div class="mw8 center ph3 pv4">
        <h1 class="title">Hello, {{ user.username }}!</h1>
        
    </div>
    {% endif %}
    <a class="rounded-corners" href="{% url 'auth_logout' %}">Logout</a>
    <a class="rounded-corners" href="{% url 'homepage' %}">Home</a>
    <a class="rounded-corners" href="{% url 'search_snippet' %}">Find a snippet</a>
    {% block content %}
    {% endblock %}

</body>
</html>