{% extends "base.html" %}

{% block title %}

Code Snippets - {{ snippet.title }}

{% endblock %}

{% block content %}

<h2>{{ snippet.title }} 
    
    <small class="f6"><a href="{% url 'edit_snippet' snippet_pk=snippet.pk %}">Edit this snippet</a></small></h2>

    <small class="f6"><a href="{% url 'delete_snippet' snippet_pk=snippet.pk %}">Delete this snippet</a></small></h2>

<h3>here's the snippet:</h3>

<ol>
    {% if snippet.language %}
        <p>{{ snippet.language }}</p>
    {% endif %}
</ol>

<ol>
    {% if snippet.body %}
        <p>{{ snippet.body }}</p>
    {% endif %}
</ol>
{% endblock %}