{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 50px;">
        <div class="row row-center">
            <h2 class="heading" style="margin-bottom: 25px;">Snippets</h2>
        </div>
        <div class="row row-center">
            <ul class="list">
                {% for snippet in your_snippets.all %}
                    <li><a href="{% url 'snippet_detail' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}